

<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="card mt-4">
        <div class="card-header">
          <div class="text-normal d-flex justify-content-center align-items-center">
            <span class="me-2">Login</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                 class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
              <path fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" id="email"
                     [ngClass]="!loginForm.get('email')?.valid && loginForm.get('email')?.touched ? 'form-control error-input' : 'form-control'"
                     placeholder="Enter email" formControlName="email">
              <span class="help-text" *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">
                <span
                  *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</span>
              <span
                *ngIf=" loginForm.get('email')?.errors?.['email']">Email is invalid</span>
              </span>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" formControlName="password" id="password"
                     [ngClass]="!loginForm.get('password')?.valid && loginForm.get('password')?.touched ? 'form-control error-input' : 'form-control'"
                     placeholder="Password">
              <span class="help-text" *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
                <span
                  *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</span>
              <span
                *ngIf="loginForm.get('password')?.errors?.['minlength']">Password is least {{loginForm.get('password')?.errors?.['minlength']['requiredLength']}}
                chars</span>
              </span>
            </div>
            <button type="submit" class="btn btn-primary mt-3" [disabled]="!loginForm.touched && !loginForm.valid">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
